

.about {
    font-size: 18px;
    text-align: center;

}

#about-heading {
    text-align: center;
}

.button {
    text-align: center;
}
.container span{
    font-family: 'Faster One', cursive;
    font-size: 70px;
}